.prise-com {
	background-color: #4C4C4C;
	padding-bottom: 15px;
	margin-bottom: -15px;
	margin-left: -25px;
	padding-left: 25px;
	padding-top: 10px;
}
.prise-com h4{
	color: #FF7373;
}
.stoimost {
	color: #fff;
}

.parametry {
	background-color: #262626;
	
	margin-left: -25px;
	padding-left: 25px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.opisanie h4 {
	color: #FF7373;
}
.opisanie p, li {
	color: #fff;
}
.osebe {
	background-color: #4c4c4c;
	margin-left: -25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 2) {
	.header-1 h2 {
		font-size: 4rem;
	}
	.header-1 a p {
		font-size: 2.5rem;
	}
	.header-1 p {
		font-size: 2rem;
	}
	.header-1 h5 {
		font-size: 2rem;
	}
	.header-1 h5 img {
		width: 50px;
		height: 50px;
	}
	.opisanie h4 {
		font-size: 3rem;
	}
	.opisanie ul li {
		font-size: 2rem;
	}
	.stoimost .col-md-3 {
		font-size: 2rem;
	}
	.price-about h6 {
		font-size: 2rem;
	}
	.price-about {
		margin-left: -15%;
		padding-left: 18%;
		margin-right: -15%;
		padding-right: 18%;
	}
	.prise-com {
		margin-left: -15%;
		padding-left: 18%;
		margin-right: -15%;
		padding-right: 18%;
	}
	.osebe {
		margin-bottom: 10px;
		margin-left: -22%;
		padding-left: 18%;
		margin-right: -22%;
		padding-right: 18%;
	}
	.osebe p {
		font-size: 1.72rem;
	}
	.parametry {
		margin-left: -22%;
		padding-left: 18%;
		margin-right: -22%;
		padding-right: 18%;
	}
}